<div class="jumbotron">
        <h1 class="display-4"><%= currentGroup.name %></h1>
        <hr class="my-4">
        <form action="/teachers/group/delete/<%=currentGroup._id%>?_method=DELETE" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                        <h5>Join Key: <%= currentGroup.join_key %></h5>
                </div>
            </div>
            <hr class="my-4">
            <div class="form-row">
                    <div class="form-group col-md-12">
                        <h5>Exam List:</h5>
                            <% groupExams.forEach((groupExam) => { %>
                                <li><%= groupExam.title %></li>
                            <% }) %>
                    </div>
            </div><hr class="my-4">
            <div class="form-row">
                    <div class="form-group col-md-12">
                        <h5>Members List:</h5>
                            <% groupMembers.forEach((groupMember) => { %>
                                <li><%= groupMember.firstName %> <%= groupMember.lastName %></li>
                            <% }) %>
                    </div>
            </div>
            <hr class="my-4">
            <button type="submit" class="btn btn-primary">Delete Group</button>
        </form>
</div>